@model QuanLyKhoHang.Models.Warehouse

@{
    ViewData["Title"] = "Xác nhận xóa";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa kho hàng này không?</h3>
<div>
    <h4>Thông tin kho hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">Mã kho</dt>
        <dd class = "col-sm-8">@Html.DisplayFor(model => model.Code)</dd>

        <dt class = "col-sm-4">Tên kho hàng</dt>
        <dd class = "col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

        <dt class = "col-sm-4">Địa chỉ</dt>
        <dd class = "col-sm-8">@Html.DisplayFor(model => model.Location)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>